/* FONTS GOOGLE */
@import url('https://fonts.googleapis.com/css2?family=Quicksand&display=swap');

/* VARIABLES */



/* GENERALES */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Quicksand', sans-serif;
    color: whitesmoke;
    background-image: url("../img/FONDO4.jpg");
    width: 100%;
    height: 100vh;
    background-size: cover;
    background-repeat: no-repeat;
}

/* LAYOUT */

.menu-dashboard {
    max-width: 150px;
    height: 100vh;
    background: rgb(80, 78, 78);
    padding: 20px;
    transition: max-width .3s ease;
}

.top-menu {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.logo {
    font-size: 42px;
}
.top-menu .logo {
    display: flex;
    align-items: center;
}

.top-menu .logo img {
    width: 80px;
    height: 60px;
    transition: width .3s ease;
}

.top-menu .logo span {
    font-size: 20px;
    margin-left: 20px;
    display: none;
}

.top-menu .toggle {
    width: 30px;
    height: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
}

.top-menu .toggle i {
    font-size: 35px;
}

/* INPUT BOX */

.input-search {
    width: 100%;
    margin: 50px 0;
    background-color: rgb(130, 128, 128);
    padding: 15px;
    border-radius: 8px;
    display: flex;
    align-items: center;
}

.input-search i {
    font-size: 30px;
    margin-right: 20px;
}

.input-search .input {
    border: none;
    outline: none;
    background-color: transparent;
    width: 100%;
    height: 30px;
    color: white;
    font-size: 22px;
    display: none;
}

/* ENLACES MENU */
.enlace {
    width: 100%;
    height: 70px;
}

.menu .enlace {
    /* width: 100%; */
    padding: 10px 10px 10px 17px;
    border-radius: 8px;
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    cursor: pointer;
    font-size: 20px;
    transition: all .3s ease;
}
a {
    color: white;
    text-decoration: none;
}
.menu .enlace:hover {
    background: rgb(130, 128, 128);
}

.menu .enlace i {
    margin-right: 20px;
    font-size: 25px;
}

.menu .enlace span {
    opacity: 0;
    transition: opacity .3s ease;
}

.menu-dashboard.open {
    max-width: 300px;
    /* height: 100vh; */
}

.menu-dashboard.open .top-menu .logo span {
    display: block;
}

.menu-dashboard.open .input-search
.menu-dashboard.open .menu .enlace {
    width: auto;
}

.menu-dashboard.open .input-search .input {
    display: block;
}

.menu-dashboard.open .menu .enlace {
    padding: 13px;
}

.menu-dashboard.open .menu .enlace span {
    opacity: 1;
}















