*{
    padding: 0;
    margin: 0;
    box-sizing:content-box;
    font-family: sans-serif;
}

body{
    margin-top: 200px;
    display:flex;
    width: 100%;
    height: 100vh;
    justify-content: center;
    align-items: center;
    background: url(../img/fondoregistro.jpg);
    background-size: cover;
}

.container{
    width: 100%;
    max-width: 835px;
    background: rgba(0, 0, 0, 0.3);
    padding: 30px;
    border-radius: 10px;   
}

.form-title{
    font-size: 26px;
    font-weight: 600;
    text-align: center;
    padding-bottom: 6px;
    color: white;
    text-shadow: 2px 2px 2px black;
    border-bottom: solid 1px white;
}

.main-user-info{
    display: flex;
    flex-wrap:wrap;
    justify-content: space-between;
    padding: 10px 0;
}

.user-input-box:nth-child(2n){
    justify-content: end;
}

.user-input-box{
    display: flex;
    flex-wrap: wrap;
    width: 30%;
    height: 100%;
    padding-bottom: 30px;
}

.user-input-box label{
    width: 100%;
    color: white;
    font-size: 20px;
    font-weight: 400;
    margin: 5px 0;
    display: flex;
}
.user-input-box input{
    height: 40px;
    width: 305%;
    border-radius: 7px;
    outline: none;
    border: 1px solid grey;
    padding: 0 10px;
    display: flex;

}

.gender-title{
    color:white;
    font-size: 24px;
    font-weight: 600;
    border-bottom: 1px solid white;
}

.gender-category{
    margin: 15px 0;
    color: white;
}

.gender-category label{
    padding: 0 20px 0 5px;
}

.gender-category label,
.gender-category input,
.form-submit-btn input{
    cursor: pointer;
}
.login_form #nombre_error,
.login_form #apellidos_error,
.login_form #email_error,
.login_form #documento_error,
.login_form #telefono_error,
.login_form #contraseña_error,
.login_form #produccion_error,
.login_form #opciones_error,
.login_form #usuario_error{
	margin-top: 5px;
	width: 345px;
	font-size: 18px;
	color: #C62828;
	background: rgba(255,0,0,0.1);
	text-align: center;
	padding: 5px 8px;
	border-radius: 3px;
	border: 1px solid #EF9A9A;
	display: none;
}
.login_form button{
	margin: 45px 0 30px 0;
	height: 45px;
	width: 365px;
	font-size: 20px;
	color: white;
	outline: none;
	cursor: pointer;
	font-weight: bold;
	background: #1A237E;
	border-radius: 3px;
	border: 1px solid #3949AB;
	transition: .5s;
}
.login_form button:hover{
	background: #151c6a;
}
