body {

    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    background: linear-gradient(#2e211f, rgb(139, 134, 134));
    background-size: cover;
    background-attachment: fixed;
    display: flex;
    width: 100%;
    height: 100vh;
    justify-content: center;
    align-items: center;
    background-size: cover;


}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;

    font-family: sans-serif;
}




.contenedor {
    width: 100%;
    padding: 15px;
}

.formulario {
    background: #fff;
    margin-top: 150px;
    padding: 3px;

}

h1 {
    text-align: center;
    color: #000000;
    font-size: 40px;
}

input[type="text"],
input[type="password"] {
    font-size: 20px;
    width: 82%;
    padding: 10px;
    border: none;
    outline: none;
    border-bottom: 1px solid gray;
}

.input-contenedor {
    margin-bottom: 15px;
    
}

.icon {
    min-width: 50px;
    text-align: center;
    color: #999;
}

.button {
    border: none;
    width: 100%;
    color: white;
    font-size: 20px;
    background: #1a2537;
    padding: 15px 20px;
    border-radius: 5px;
    cursor: pointer;
}

.button:hover {
    background: rgb(94, 94, 94);
}

p {
    text-align: center;
}

.link {
    text-decoration: none;
    color: #1a2537;
    font-weight: 600;
}

.link:hover {
    color: cadetblue;
}

@media(min-width:768px) {
    .formulario {
        margin: auto;
        width: 500px;
        margin-top: 150px;
        border-radius: 2%;
        text-align: center;
    }
}




.alert-hidden2 {
    visibility: hidden;
}

.alert-hidden {
    visibility: hidden;
}

.box-alert {
    position: relative;
    width: 400px;
    height: 300px;
    background-color: whitesmoke;
    border-radius: 10px;
}

.modal-alert {
    position: fixed;
    background-color: rgba(0, 0, 1, 0.499);
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal-alert-2 {
    position: fixed;
    background-color: rgba(0, 0, 1, 0.499);
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.check {
    font-size: 100px;
    margin-left: 125px;
    margin-top: 70px;
    color: rgb(29, 166, 29);
}

.notcheck {
    /* background-color: rebeccapurple; */
    text-align: center;
    display:flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;    
    font-size: 5em;
    color: rgb(168, 0, 0);
    /* font-size: 100px; */
    /* margin-left: 125px; */
    /* margin-top: 100px; */
    /* color: rgb(119, 19, 19); */
}
.contain{
    display: block;
    /* background-color: red; */
    width: 100%;
    height: 100%;
}

.mensaje {
    position: absolute;
    top: 10%;
    left: 3%;
    width: 100%;
}

.mensajeexi {
    position: absolute;
    top: 10%;
    left: 21%;
    width: 100%;
}

.btn-aceptarext {
    position: absolute;
    text-align: center;
    font-weight: 800;
    top: 235px;
    left: 150px;
    width: 100px;
    height: 50px;
    border-radius: 10px;
    background-color: green;
    border: none;
    color: black;
    font: 1.2em;
    cursor: pointer;
}

.icon-close2 {
    position: relative;
    font-size: 1.8em;
    left: 430px;
    bottom: 155px;
    color: rgb(219, 189, 66);
}

.btn-aceptar {
    position: absolute;
    text-align: center;
    font-weight: 800;
    top: 235px;
    left: 150px;
    width: 100px;
    height: 50px;
    border-radius: 10px;
    background-color: darkgoldenrod;
    border: none;
    color: black;
    font: 1.2em;
    cursor: pointer;
}

* {
    margin: 0;
    padding: 0;
    font-family:'Gill Sans', sans-serif;
}

.modal-alert-visible {
    width: 100%;
    height: 100vh;
    position: fixed;
    background-color: rgb(0, 0, 0,.6);
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal-alert-hidden {
    display: none;

}

.box-alert {
    width: 400px;
    height: 300px;
    background-color: whitesmoke;
    border-radius: 10px;
}


.modal-aceptar {
    position: relative;
    top: 10px;
    right: 10px;
    width: 70px;
    height: 60px;
    border-radius: 10px;
    background-color: red;
    border-radius: 5px;
    border: 1px solid red;
}


.form {
    margin-top: 40px;
    margin-left: 40px;
    border: 1px solid rgb(64, 64, 64,.8);
    padding: 50px;
    width: 300px;
}
.txt-nombre{
    margin-top: 20px;
}

.txt-alert-visible{
    color: red;
    font-family:'Courier New', Courier, monospace;
    font-weight: 500;
}

.txt-alert-hidden{
    visibility: hidden;
    color: red;
    font-family:'Courier New', Courier, monospace;
    font-weight: 500;
}
.txt-alert1-hidden{
    visibility: hidden;
    color: red;
    font-family:'Courier New', Courier, monospace;
    font-weight: 500;
}
.txt-alert2-hidden{
    visibility: hidden;
    color: red;
    font-family:'Courier New', Courier, monospace;
    font-weight: 500;
}

.btn-enviar {
    margin-top: 20px;
    width: 120px;
    height: 70px;
    background-color: dodgerblue;
    color: white;
    font-size: 1.3em;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    border-radius: 12px;
}
