* {
    padding: 0;
    margin: 0;
}
body {
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;

}
.fondo-color {
    position: fixed;
    height: 100vw;
    width: 100%;
    z-index: -100;
    background-image: linear-gradient(to bottom,rgb(59, 115, 158),rgb(134, 179, 145));
}
.modal-alert {
    position: fixed;
    background-color: rgba(0, 0, 1, 0.499);
    width:100% ;
    height: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}
.modal-alert-2{
    position: fixed;
    background-color: rgba(0, 0, 1, 0.499);
    width:100% ;
    height: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}
.alert-hidden2{
    visibility: hidden;
}
.alert-hidden {
    visibility: hidden;
}
.box-alert {
    position: relative;
    width: 400px;
    height: 300px;
    background-color: whitesmoke;
    border-radius: 10px;
}
.mensaje{
    position: absolute;
    top: 35%;
    left: 15%;
}
.fa-circle-xmark {
    position: relative;
    font-size: 1.8em;
    left: 430px;
    bottom: 155px;
    color: red;

}
.btn-aceptar {
    position: absolute;
    text-align: center;
    font-weight: 800;
    /* left: 260px; */
    top: 180px;
    left: 140px;
    width: 120px;
    height: 70px;
    border-radius: 10px;
    background-color: orangered;
    border: none;
    color: black;
    font: 1.2em;
    cursor: pointer;
}
.formulario {
    margin-top: 60px;
    height: 625px;
    width: 420px;
    background-color: rgb(36, 48, 60);
    color: white;
    margin-bottom: 99px;
}
h1{
    margin-top: 30px;

}

input {
    font-size: 20px;
    margin-top: 28px;
    padding-left: 5px;
    color: white;
    border: 4.5px solid rgb(32, 52, 90);
    border-radius: 10px;
    height: 50px;
    width: 350px;
    background-color: rgb(36, 48, 60);
}
.txt-alert{
    font-size: 1.3em;
    color: red;
    font-weight: 400;
}
.txt-alert-hidden{
    visibility: hidden;
}
select{
    font-size: 20px;
    color: white;
    margin-top: 18px;
    border: 4.5px solid rgb(32, 52, 90);
    border-radius: 8px;
    height: 60px;
    width: 358px;
    background-color: rgb(36, 48, 60);
}

.send {
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    height: 50px;
    width: 230px;
    background-color: rgb(8, 44, 112);
    margin: auto;
    margin-top: 25px;
    font-size: 23px;
}